<mat-list>
  <mat-list-item *ngFor="let v of versions">
    <span (click)="navigateToVersionView(v.id)">
      {{v.creationDate | date : 'medium'}}   {{v.id}}
    </span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>

<div class="full-screen-spinner-container-without-background-flex" *ngIf="isLoading">
  <mat-spinner class="full-screen-spinner-flex"></mat-spinner>
</div>

<mat-paginator [length]=versionsCount
               [pageSize]=pageSize
               [pageIndex]="0"
               [pageSizeOptions]="[5, 10, 25]"
               (page)="onPaginatorUpdate($event)"
               [showFirstLastButtons]="true"
               aria-label="Select page" style="vertical-align: bottom">
</mat-paginator>
