<mat-nav-list>
  <mat-list-item *ngFor="let v of versions" (click)="navigateToVersionView(v.id)">
    <span>By {{v.user.name}}</span>
    <img class="user-avatar" *ngIf="v.user.avatar != undefined" [src]="v.user.avatar.fileUrl" [srcset]="getSrcSet(v)" alt="">
    <svg class="user-avatar" *ngIf="v.user.avatar == undefined" [data-jdenticon-value]="getJdenticonValueForUser(v.user.id)"></svg>
    <div class="spacer"></div>
    <span>
      {{v.creationDate | date : 'medium'}}
    </span>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>

<div class="full-screen-spinner-container-without-background-flex" *ngIf="isLoading">
  <mat-spinner class="full-screen-spinner-flex"></mat-spinner>
</div>

<mat-paginator [length]=versionsCount
               [pageSize]=pageSize
               [pageIndex]="0"
               [pageSizeOptions]="[5, 10, 25]"
               (page)="onPaginatorUpdate($event)"
               [showFirstLastButtons]="true"
               aria-label="Select page" style="vertical-align: bottom">
</mat-paginator>
