.tree-header {
  display: block;
  padding: 0.5rem;
  overflow: auto;
}

.tree-header-add-btn {
  float: right;
  clear: right;
  display: inline-block;
}

.tree-node {
  white-space: nowrap;
  display: block;
}

.tree-node-selected {
  font-weight: bold;
}

.article-card {
  display: block;
  padding: 0.5rem;
  overflow: auto;
}

.tree-node .tree-node {
  padding-left: 20px;
}

.article-add-btn {
  float: right;
  clear: right;
  display: none;
}

.article-card:hover .article-add-btn {
  display: inline-block;
}

.space {
  height: 0.6rem;
}
