<div *ngIf="hasError == undefined" class="container">
  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav opened mode="side">
      <app-workspace-tree [errorSubject]="error" *ngIf="isInitialized" [workspaceObservable]="workspaceObservable"></app-workspace-tree>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-workspace-viewer [errorSubject]="error" [workspaceArticleSlugs]="slugsObservable" [workspaceSlug]="workspaceSlug" [articleSlug]="articleSlug"></app-workspace-viewer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-error-switcher *ngIf="hasError != undefined" [error]="hasError"></app-error-switcher>
